footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    width: 100vw;
}

.footer-content {
    width: var(--main_width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    padding: 25px;
}

.footer-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.footer-content ul li {
    cursor: pointer;
}

.footer-content ul li a{
    color: aliceblue;
    transition: all 0.3s ease 0s;
}

.footer-content ul li a:hover {
    color: var(--main_color);
}